---
---

@import "{{ site.theme }}";
@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');
$pink: #DB118A;
$teal: #299ebc;
$light-pink: lighten( $pink, 33% );
$light-teal: lighten( $teal, 33% );
.project-name {font-family: 'Permanent Marker', 'Open Sans', sans-serif; letter-spacing: 2px;}
.project-tagline { color: white; font-family: 'Open Sans', sans-serif; opacity: 1;}
.header-svg {
    position: relative;
    bottom: -6px;
    width: 100%;
    height: 6vw;
    margin: 0;
    padding: 0;
    /* set height to pixels if you want angle to change with screen width */
  }
a { color: $teal;}
a:hover{  background: linear-gradient(180deg, rgba(255,255,255,0) 65%, $light-pink 65%); text-decoration: none;}
.highlight {background: linear-gradient(180deg, rgba(255,255,255,0) 65%, $light-teal 65%);}
.counter{ font-family: 'Permanent Marker', 'Open Sans', sans-serif; letter-spacing: 2px; font-size: 200%;}
.highlight-number {background: linear-gradient(180deg, rgba(255,255,255,0) 65%, $pink 65%);}
nav a { color: white; font-family: 'Permanent Marker', 'Open Sans', sans-serif; font-size: 1.5rem; margin-right: 2rem; letter-spacing: 2px; text-decoration: none; background: none;}
.page-header {padding: 0; background-color: $pink; background-image: linear-gradient(120deg, $pink, $teal);}
.header-text {padding: 0 10%;}
.main-content h1, .main-content h2, .main-content h3, .main-content h4 {color: $pink; font-family: 'Permanent Marker', 'Open Sans', sans-serif; letter-spacing: 2px;}

.btn { color:white; background: none; background-color: $teal; font-weight: 800;}
.btn:hover { color: white; background: none; background-color: lighten( $teal, 12% )}
.footer-svg {
    position: relative;
    top: -2.08rem;
    width: 100%;
    height: 6vw;
    margin: 0;
    padding: 0;
    /* set height to pixels if you want angle to change with screen width */
}
.footer-text {padding: 0 2rem 3rem 2rem;}

.site-footer { width: 100%; color: white; font-weight: 400; font-size: 1.1rem; text-align: center; background-color: $pink; background-image: linear-gradient(120deg, $pink, $teal);}
.footer-text a { color: white; font-weight: 800;}
.btn {border:none;}