---
---

@import "{{ site.theme }}";
@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');
.project-name {font-family: 'Permanent Marker', 'Open Sans', sans-serif;}
.project-tagline { color: white; font-family: 'Open Sans', sans-serif; opacity: 1;}
.main-content h1, .main-content h2, .main-content h3, .main-content h4 {color: #EF3CA7; font-family: 'Permanent Marker', 'Open Sans', sans-serif;}
nav a{ color: white; font-family: 'Permanent Marker', 'Open Sans', sans-serif; font-size: 1.5rem; padding-right: 2rem;}
.page-header{background-image: linear-gradient(120deg, #EF3CA7, #74E6F5);}